html 
    head 
        title="sakthiman"
    body 
        p(style={color:"red"}) 
            |tadatada da<br />
            |halamathi habibo #{name}
        p=name 
        a(href=url) link:"")
        img(src=srce style={height:"500px",width:"500px"})